name: html-validator

on:
  pull_request:
    branches:
      - main


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      # Note:
      # html-validatorをbuild済のhtmlに対して実行するために、以下の手順で対応
      # 1. JekyllでWebページ用のhtmlをbuildする
      # 2. 1で生成したhtmlに対してvalidateを実行する
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4.8'
      - name: Install Jekyll and dependencies
        run: gem install jekyll
      - name: Build Jekyll site
        run: jekyll build
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
      - run: npm install
      # Run w3c-html-validator
      - run: npx html-validator _site

